img{
    width:100%;
    height:auto;
  }
#search_b {
    max-height: 20px;
    max-width: 160px;
    padding-right: 15px; 
    padding-left: 15px;

    margin-left: 10px;
    margin-right: 0px;
    font-size: 10px;

}
#ts{
    position: absolute;
    margin-left: -15px;
    margin-top: 5px;
    font-size: 10px;
    opacity: 0.5;
}

.clearfix {
    overflow: auto;
}

a:visited{
    color: unset;
}
#top_row{
    margin-top: 10px;
}
.menu-bar{
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    color: gray;
    padding: 0%;
}
.link_:hover{
    color:green;
    text-decoration: none;
    
}
.link_{
    color: gray;
    font-size: 10px;
}
.about{
    margin: 5% 16% 5% 16%;
}

.bt{
    height: 45px;
    width: 200px;
    background: rgb(148, 182, 79);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.thum{
    height: 15px;
    width: 15px;
}
.btn-d{
    height: 35px;
    width: 150px;
    font-size: 10px;
    margin: 10px;
    background: rgb(94, 89, 73);
    color: white;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
}
.steps{
    background: url("images/hbg5.png") no-repeat top;
    background-size: cover;
}

#text_{
    max-width: 50%;
    max-height: 40px;
    font-size: 13px;
    padding: 13px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: rgb(175, 214, 83) solid;
    margin-top: 30px;
}

._step{
    margin-left: 33px;
    margin-right: 33px;
    font-size: 10px;
    
}   

.dot{
    background-repeat: no-repeat;
    height: 2px;
    width: 40px;
    vertical-align: middle;
    margin-top: 18px;
    margin-left: 1px;
    margin-right: 1px;  
}

.i-step{
    width:auto;
    height:auto;
    max-width: 45px;
    max-width: 45px;
    border: 3px solid rgb(178, 213, 82);
    border-radius: 50px;
    padding: 3px;
}  

.i-step:hover{
    border-color: rgb(210, 240, 102);
}

.c_list{
    list-style: none;
    padding: 0%;
    margin: 5% 0% 5% 0%; 

}

.c_list_li:before {
    content: "\f00c"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    color: rgb(101, 145, 70);
    font-size: 13px;
  }
  p#card{
      font-size: 12px;
  }
.card-btn{
    background: rgb(160, 208, 93);
    width: 180px;
    border-radius: 2px;
    color: white;
    height: 32px;
    font-size: 11px;
}
.cards{
    background: url('images/hbg2.png');
    background-size: cover;
    height: auto;
    margin-top: 40px;
    padding: 20px;
}

.profile{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    padding: 5px;
    border: 4px solid rgb(138, 216, 28); 
    margin-bottom: 10px;
    background-size: cover;
}

.feedback-text{
    font-size: 12px;
    padding: 20px;
}
.feedback-b{
    padding: 0%;
    margin: auto;
    display: none;
}
.feedback-b.active{
    padding: 0%;
    margin: auto;
    display: block;
}

._blog-card{
    width: 230px;
    height: 400px;
    padding: 13px;
    cursor: default;
}
._blog-card:hover > h5{ 
    color:rgb(101, 163, 29);
}

._blog-card:hover > button{ 
    color:rgb(255, 255, 255);
    background: rgb(118, 211, 11); 
}

._card-title{
    font-size: 12px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    color:gray;
}

._card-title:hover{
    color:rgb(101, 163, 29);
}


._card-text{
    font-size: 12px;
    color: gray;
}
._card-but{
    font-size: 12px;
    color:rgb(127, 196, 58);
    padding: 5px 20px 5px 20px ;
    border: 1px solid rgb(145, 226, 78);
    background: white;
    cursor: default;
}

._card-but:hover {
    color:rgb(255, 255, 255);
    background: rgb(118, 211, 11);
}

.f-btn{

    color: white;
    margin:10px;
    padding: 10px 25px 10px 25px;
    background: rgba(123, 218, 46, 0.556);
    font-size: 10px;
    border-radius: 3px;
}

.f-list-ul{
    list-style:none;
    display: inline-block;
    padding: 0%;
    margin: 5% 0% 5% 0%;  
}
.f-list{
    color: gray;
    font-size: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}
.f-list::before{
    content: "\f0da";
    font-family: FontAwesome;
    color: rgb(19, 19, 19);
    font-size: 13px;
}


ul.t-list-ul{
    list-style:none;
    list-style-position: outside;
    display: block;
    padding: 0%;
    margin: 5% 0% 5% 0%;  
}

.t-list{
    color: gray;
    font-size: 12px;
    margin-bottom: 20px;
}
.t-list::before{
    content: "\f099";
    font-family: FontAwesome;
    color: rgb(255, 255, 255);
    font-size: 13px;
}
.co-list-ul{
    list-style:none;
    display: inline-block;
    padding: 0%;
    margin: 5% 0% 5% 0%;  
}

.co-list{
    color:gray;
}

a{
    text-decoration: none;
}
.a-footer{
    font-size: 10px;
    color: gray;
}
.a-footer:hover{
    color: white;
}

#f-icon{
    padding: 3px;
    border: 1px solid gray;
    background:rgb(177, 176, 176);
    border-radius: 100%;
    font-size: 8px;
}
#f-icon:hover{ 
    background:white;
}


.kkkk{
    position: absolute;
    padding-left: 5px;
    bottom: 58%;
}


/* i#prev{
    position: absolute;
     top: 100px; 
     left: 40px;
}

i#next{

    position: absolute;
     top: 50%; 
     right: 1%;
} */


@media screen and ( max-width: 870px){

    #text_{

    }

    .dot{
        background-repeat: no-repeat;
        max-height: 2px;
        max-width: 20px;
        vertical-align: middle;
        margin-top: 18px;
        margin-left: 1px;
        margin-right: 1px;  
    }
    
    .i-step{
        border: 1px solid rgb(178, 213, 82);
        border-radius: 50% 50%;
        padding: 1px;
        max-height: 30px;
        max-width:30px;
        height: auto;
        width:auto;
    }  
    
    .i-step:hover{
        border-color: rgb(210, 240, 102);
    }


    .kkkk{
        position: absolute;
        padding-left: 5px;
        bottom: 55%;
    }
}

@media screen and (min-width: 600px){
    /* span#next{
        visibility: hidden;
    }
    span#prev{
        display: none;
    } */


} 

@media screen and (max-width: 400px)
{
     /* i#prev{
       
        display: none;
    }
    i#next{
      display: none;  
    }     i#sss-p{
        top: 10%;
        left: 20%;
    } */
    .i-step{
        border: 1px solid rgb(178, 213, 82);
        border-radius: 50% 50%;
        padding: 1px;
        max-height: 15px;
        max-width:15px;
        height: auto;
        width:auto;
    }  
    
    .i-step:hover{
        border-color: rgb(210, 240, 102);
    }
    .dot{
        background-repeat: no-repeat;
        max-height: 2px;
        max-width: 20px;
        vertical-align: middle;
        margin-top: 6px;
        margin-left: 1px;
        margin-right: 1px;  
    }
    .kkkk{
        font-size: 8px;
        position: absolute;
        padding-left: 1px;
        bottom: 50%;;
    }


}
